Gemini Torture Test 0009 fails

**Describe the issue**
gemini://gemini.conman.org/test/torture/0008, clicking the test for ```/test/../test/torture/0009``` will fail.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'gemini://gemini.conman.org/test/torture/0008'
2. Click on '/test/../test/torture/0009'
5. See error

**Expected behavior**
From [RFC-3896 section 5.2.4](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4), removing dot segments:

> 1.  The input buffer is initialized with the now-appended path
>        components and the output buffer is initialized to the empty
>        string.
> 
>    2.  While the input buffer is not empty, loop as follows:
> 
>        A.  If the input buffer begins with a prefix of "../" or "./",
>            then remove that prefix from the input buffer; otherwise,
> 
>        B.  if the input buffer begins with a prefix of "/./" or "/.",
>            where "." is a complete path segment, then replace that
>            prefix with "/" in the input buffer; otherwise,
> 
>        C.  if the input buffer begins with a prefix of "/../" or "/..",
>            where ".." is a complete path segment, then replace that
>            prefix with "/" in the input buffer and remove the last
>            segment and its preceding "/" (if any) from the output
>            buffer; otherwise,
> 
>        D.  if the input buffer consists only of "." or "..", then remove
>            that from the input buffer; otherwise,
> 
>        E.  move the first path segment in the input buffer to the end of
>            the output buffer, including the initial "/" character (if
>            any) and any subsequent characters up to, but not including,
>            the next "/" character or the end of the input buffer.
> 
>    3.  Finally, the output buffer is returned as the result of
>        remove_dot_segments.

**Environment**

- OS: macOS 11.3.1 on Silicon
- Sputnik version: v1.0(1), main

**Screenshots**
<img width="799" alt="Screen Shot 2021-05-09 at 10 48 02 AM" src="https://user-images.githubusercontent.com/46304146/117583758-d7289280-b0bd-11eb-8ff3-a17dc4ab96c1.png">

**Additional context**
I'm kind of wanting to work on this.


this may or may not be helpful...

doing the same thing for HTTP, you would use a regex like this: ```((?:http|https)://)?(?:www\\.)?[\\w\\d\\-_]+\\.\\w{2,3}(\\.\\w{2})?(/(?<=/)(?:[\\w\\d\\-./_]+)?)?```

Hi Casey,

Thanks for brining up this issue. The code for parsing the URLs is kind of a mess. It uses Apple's built in URL parser, but with some custom additions that were necessary for Gemini. If you'd like to take a crack at fixing this yourself I would be appreciative :)